@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

:root {
  --col1: #1f1f1f;
  --col2: #1e3748;
  --col3: #3c6e71;
  --col4: #d9d9d9;

  --bg-trans-white: rgba(255, 255, 255, 0.5);
  --bg-trans-white2: rgba(255, 255, 255, 0.25);
}

html * {
  font-family: 'Nunito', sans-serif;
}

html > * {
  background-image: linear-gradient(to right, white, white, var(--col4));
}

.title {
  font-family: 'Playfair Display', serif;
}

.link {
  color: black;
}

.social-link {
  text-decoration: none;
  color: var(--col1);
  font-size: 2rem;
  margin-left: 0.5rem;
}

/* word cloud */
.header {
  height: clamp(300px, 40vw, 500px);
  display: flex;
  justify-content: center;
}

.wordCloud {
  justify-content: center;
  align-content: center;
  display: grid;
  gap: calc(min(0.5vw, 1rem));
  grid-template:
    '     .              awareness     .             .            science     .           '
    '     .              awareness     code          code         science     .           '
    '     .              awareness     imagination   imagination  science     .           '
    '     dedication     awareness     creativity    security     security    .           '
    '     .              collaboration collaboration solution     challenge   challenge   '
    '     maintenance    maintenance   learn         solution     .           .           '
    '     .              .             .             solution     .           .           ';
}

.wordCloud > div {
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
  line-height: 1em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: uppercase;
}

.wordCloud > div:hover {
  padding: 20px;
  box-shadow: inset 5px 5px 30px 1px gray;
  border-radius: 10px;
  cursor: default;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#awareness {
  color: var(--col1);
  font-size: calc(min(3vw, 2rem));
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  grid-area: awareness;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
#science {
  color: var(--col2);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: calc(min(2vw, 1.3rem));
  font-weight: bold;
  grid-area: science;
  align-self: flex-end;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
#code {
  color: var(--col3);
  font-size: calc(min(4vw, 3rem));
  font-weight: bold;
  align-self: flex-end;
  grid-area: code;
}
#security {
  color: var(--col1);
  font-size: calc(min(2.5vw, 1.5rem));
  grid-area: security;
}
#learn {
  color: var(--col2);
  font-size: calc(min(4.5vw, 3rem));
  grid-area: learn;
}
#solution {
  color: var(--col3);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: calc(min(3vw, 2rem));
  grid-area: solution;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
#challenge {
  color: var(--col1);
  font-size: calc(min(3vw, 2rem));
  grid-area: challenge;
  align-self: center;
}

#imagination {
  color: var(--col2);
  font-size: calc(min(3vw, 2rem));
  align-self: flex-end;
  grid-area: imagination;
}

#dedication {
  color: var(--col3);
  font-size: calc(min(3vw, 2rem));
  grid-area: dedication;
  font-weight: bold;
}
#collaboration {
  color: var(--col1);
  font-size: calc(min(3vw, 2rem));
  font-weight: bold;
  grid-area: collaboration;
  justify-self: flex-end;
}
#maintenance {
  color: var(--col2);
  grid-area: maintenance;
  font-size: calc(min(3vw, 2rem));
  justify-self: flex-end;
}

#creativity {
  color: var(--col3);
  font-size: calc(min(5vw, 4rem));
  grid-area: creativity;
  font-weight: bold;
}

.projects {
  background-color: gray;
  background-image: url('/assets/bg.jpeg');
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  /* text-align: center; */
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects h1 {
  color: var(--col4);
  text-align: center;
}

.project {
  width: 30rem;
  margin: 1rem;
  background-color: var(--bg-trans-white2);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
}

.project .card-body {
  min-height: 20rem;
}

.project .card-text {
  color: var(--col4);
  font-size: 0.95rem;
}

.project .card-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.card-image img {
  height: 100%;
  width: 100%;
  min-height: 22rem;
  object-fit: cover;
  object-position: left top;
}

/* skills---------------------- */
.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-icon {
  max-width: 1.4rem;
  max-height: 1.4rem;
}

.skills-icons img {
  max-width: 50px;
  max-height: 50px;
  margin: 1rem;
}

.language span {
  font-size: 1rem;
  color: var(--col3);
}

footer {
  background-color: var(--col3);
}
