@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;900&display=swap");
.cloud #solution, .cloud #science, .cloud #awareness {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

html * {
  font-family: "Nunito", sans-serif;
}

html > * {
  background-image: linear-gradient(to right, white, white, #d9d9d9);
}

body {
  padding: 70px 0 160px 0;
}

section {
  scroll-margin-top: 60px;
}

a:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
}

.bar a {
  color: #1f1f1f;
}

.display-6 {
  margin: 100px 30px 50px 30px;
}

/* word cloud */
.cloud {
  height: clamp(300px, 40vw, 600px);
  display: flex;
  justify-content: center;
}
.cloud .wordCloud {
  justify-content: center;
  align-content: center;
  display: grid;
  gap: min(0.5vw, 1rem);
  grid-template: "     .              awareness     .             .            science     .           " "     .              awareness     code          code         science     .           " "     .              awareness     imagination   imagination  science     .           " "     dedication     awareness     creativity    security     security    security    " "     collaboration  collaboration collaboration solution     .           .           " "     maintenance    maintenance   learn         solution     challenge   challenge   " "     .              .             .             solution     .           .           ";
}
.cloud .wordCloud > div {
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
  line-height: 1em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: default;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-transform: uppercase;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.cloud .wordCloud > div:hover {
  padding: 20px;
  box-shadow: inset 5px 5px 30px 1px gray;
}
.cloud #awareness {
  color: #1f1f1f;
  font-size: min(3vw, 2rem);
  text-align: center;
  grid-area: awareness;
}
.cloud #science {
  color: #1e3748;
  font-size: min(2vw, 1.3rem);
  font-weight: bold;
  grid-area: science;
  align-self: flex-end;
}
.cloud #code {
  color: #3c6e71;
  font-size: min(4vw, 3rem);
  font-weight: bold;
  align-self: flex-end;
  grid-area: code;
}
.cloud #security {
  color: #1f1f1f;
  font-size: min(2.5vw, 1.5rem);
  grid-area: security;
}
.cloud #learn {
  color: #1e3748;
  font-size: min(4.5vw, 3rem);
  grid-area: learn;
}
.cloud #solution {
  color: #3c6e71;
  font-size: min(3vw, 2rem);
  grid-area: solution;
}
.cloud #challenge {
  color: #1f1f1f;
  font-size: min(3vw, 2rem);
  grid-area: challenge;
  align-self: flex-end;
}
.cloud #imagination {
  color: #1e3748;
  font-size: min(3vw, 2rem);
  align-self: flex-end;
  grid-area: imagination;
}
.cloud #dedication {
  color: #3c6e71;
  font-size: min(3vw, 2rem);
  grid-area: dedication;
  font-weight: bold;
  justify-self: flex-end;
}
.cloud #collaboration {
  color: #1f1f1f;
  font-size: min(3vw, 2rem);
  font-weight: bold;
  grid-area: collaboration;
  justify-self: flex-end;
}
.cloud #maintenance {
  color: #1e3748;
  grid-area: maintenance;
  font-size: min(3vw, 2rem);
  justify-self: flex-end;
}
.cloud #creativity {
  color: #3c6e71;
  font-size: min(5vw, 4rem);
  grid-area: creativity;
  font-weight: bold;
}

.projects {
  background-color: gray;
  background-image: url("/assets/bg.jpeg");
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects h1 {
  color: #d9d9d9;
  text-align: center;
}
.projects .project {
  width: 30rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
}
.projects .project .card-body {
  min-height: 20rem;
}
.projects .project .card-text {
  color: #d9d9d9;
  font-size: 0.95rem;
}
.projects .project .card-link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.projects .card-image {
  display: inline-block;
  overflow: hidden;
}
.projects .card-image img {
  transition: transform 0.2s;
  height: 100%;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: top left;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.projects .card-image img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.skills div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills div img {
  max-width: 50px;
  max-height: 50px;
  margin: 1rem;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.skills div img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-icon {
  max-width: 1.4rem;
  max-height: 1.4rem;
}

.language span {
  font-size: 1rem;
  color: #3c6e71;
}

footer {
  background-color: rgba(60, 110, 110, 0.95);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
}

.display-6 {
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.title {
  line-height: 1em;
  color: transparent;
  background: grey;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
  font-weight: 900;
  font-size: 1.5rem;
}

.navbar a:hover,
.navbar .active {
  color: orange !important;
}

.subtitle {
  font-size: 0.8em;
  font-style: italic;
}

.contact-form {
  max-width: 900px;
}

.contact-form .textarea {
  min-height: 300px;
  resize: none;
}

.form-control {
  box-shadow: none;
  border-color: #d9d9d9;
  height: 49px;
  margin-bottom: 18px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #3c6e71;
}

.form-control-feedback {
  line-height: 50px;
}

.main-btn {
  background: #1f1f1f;
  color: #fff;
}

.main-btn:hover {
  background: #3c6e71;
  color: #fff;
}

.form-control-feedback {
  line-height: 50px;
  top: 0px;
}

/*# sourceMappingURL=style.css.map */
