*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Root */

:root {
  --ff-primary: 'Lora', serif;
  --ff-secondary: 'Roboto Slab', serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --col1: #cb997e;
  --col2: #ddbea9;
  --col3: #b7b7a4;
  --col4: #a5a58d;
  --col5: #6b705c;
  --col6: #36382e;

  --bg-trans-white: rgba(255, 255, 255, 0.35);
  --bg-trans-white2: rgba(255, 255, 255, 0.55);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
.active {
  color: var(--col1);
}

/* General */

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: var(--col5);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--col1);
  outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 1em;
  text-decoration: underline;
  color: var(--col6);
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  /* border: 1px solid gray; */
  border-radius: 8px;
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.section__subtitle--work {
  color: var(--col1);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header #################################################### */

header {
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 18px 10% 0px;
  background-color: var(--bg-trans-white2);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  top: 0;
  width: 100%;
  z-index: 100;
  /* border: 1px solid gray; */
  box-shadow: var(--bs);
  height: 90px;
}
header h2 {
  color: var(--col6);
}
header ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

header li {
  width: 120px;
}

header a {
  color: var(--col6);
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header a:hover {
  color: var(--col1);
  font-weight: bold;
}

@media (max-width: 950px) {
  header {
    flex-direction: column;
    padding: 18px 10% 0px;
    height: 120px;
  }
}
/* intro ##################################################### */

.wordCloud {
  /* border: 3px solid red; */
  display: grid;
  margin-top: 120px;
  gap: clamp(0em, 1vw, 10px);
  grid-template:
    '     .              awareness     code          code         security     .           '
    '     .              awareness     imagination   imagination  security     .           '
    '     dedication     awareness     creativity    science      science      .            '
    '     .              collaboration collaboration solution     challenge   challenge  '
    '     maintenance    maintenance   learn         solution     .           . '
    '     .              .             .             solution     .           . ';
}

.wordCloud > div {
  width: min-content;
  height: min-content;
  margin: 0;
  padding: 0;
  line-height: 1em;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.wordCloud > div:hover {
  padding: 20px;
  box-shadow: inset 5px 5px 30px 1px gray;
  border-radius: 10px;
  cursor: default;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#awareness {
  color: var(--col3);
  font-size: clamp(0em, 6vw, 2.5em);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  grid-area: awareness;
}
#security {
  color: var(--col5);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: clamp(0em, 4.5vw, 2.5em);
  font-weight: bold;
  grid-area: security;
  align-self: flex-end;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
#code {
  color: var(--col5);
  font-size: clamp(0em, 9vw, 5em);
  font-weight: bold;
  grid-area: code;
}
#science {
  color: var(--col);
  font-size: clamp(0em, 5vw, 2.3em);
  grid-area: science;
}
#learn {
  color: var(--col5);
  font-size: clamp(0em, 7vw, 3.2em);
  grid-area: learn;
}
#solution {
  color: var(--col4);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: clamp(0em, 3vw, 1.5em);
  grid-area: solution;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}
#challenge {
  color: var(--col);
  font-size: clamp(0em, 3vw, 1.5em);
  grid-area: challenge;
  align-self: center;
}

#imagination {
  color: var(--col1);
  font-size: clamp(0em, 7vw, 3.5em);
  grid-area: imagination;
}

#dedication {
  color: var(--col6);
  font-size: clamp(0em, 3vw, 1.5em);
  grid-area: dedication;
}
#collaboration {
  color: var(--col3);
  font-size: clamp(0em, 5vw, 2.2em);
  grid-area: collaboration;
  justify-self: flex-end;
}
#maintenance {
  color: var(--col2);
  grid-area: maintenance;
  font-size: clamp(0em, 3vw, 1.5em);
  justify-self: flex-end;
}

#creativity {
  color: var(--col1);
  font-size: clamp(0em, 3.5vw, 1.8em);
  grid-area: creativity;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid blue; */
  height: clamp(500px, 75vw, 600px);
}

/* proj ###################################################### */
.my-projects {
  background-color: gray;
  background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.section__title--projects {
  color: var(--col1);
  position: relative;
  margin-bottom: 2em;
  text-decoration: underline solid;
}

.projects {
  margin-bottom: 4em;
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  /* scroll-snap-type: y mandatory; */
}

.project {
  margin: 0 auto;
  max-width: 450px;
  background-color: var(--bg-trans-white);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* scroll-snap-align: start; */
}

.project__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project img {
  max-width: 200px;
  max-height: 400px;
  float: left;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}

@media (max-width: 1050px) {
  .projects {
    flex-direction: column;
  }
  .project:last-child {
    margin-top: 2rem;
  }
}
/* about ##################################################### */

form {
  padding: 18px 0;
}
.about-me,
.contact {
  max-width: 1000px;
  margin: 0 auto;
}
.contact {
  padding-top: 0;
}

.about-me__img {
  box-shadow: var(--bs);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img'
      'skills skills'
      'language language';

    grid-column-gap: 2em;
  }

  .skills {
    grid-area: skills;
    margin-top: 60px;
  }

  .skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .skills li {
    padding: 5px 20px;
    margin: 10px 20px 10px 0px;
    border-radius: 8px;
    /* background-color: var(--col3); */
    /* color: white; */
    border: 1px solid gray;
    font-weight: bold;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .language {
    grid-area: language;
  }
  .language span {
    font-weight: normal;
  }
  .section__title--about {
    grid-area: title;
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* contact ################################################### */

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
  resize: vertical;
  margin: 8px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type='submit'] {
  background-color: var(--col5);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 18px 0;
}

input[type='submit']:hover {
  background-color: var(--col1);
  color: var(--col6);
}

.container {
  border-radius: 8px;
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    /* margin-top: 0; */
  }
}
input[type='submit'] {
  display: inline-block;
  padding: 1em 2.5em;
  background: var(--col6);
  color: var(--col1);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  border-radius: 8px;
  transition: transform 200ms ease-in-out;
  -webkit-transition: transform 200ms ease-in-out;
  -moz-transition: transform 200ms ease-in-out;
  -ms-transition: transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 18px 0;
}

input[type='submit']:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* footer #################################################### */
.footer {
  background: var(--col6);
  color: var(--col1);
  text-align: center;
  padding: 1.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.test {
  scroll-snap-type: y proximity;
  overflow: auto;
  height: 100vh;
  scroll-padding-top: 90px;
}

section {
  scroll-snap-align: start;
}

@media (max-width: 950px) {
  .test {
    scroll-padding-top: 120px;
  }
}
